body {
  background-color: #191627;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ---------------- home -------------- */

@media screen and (min-width: 600px) {
  .homeButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48%;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .homeButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin-left: 5%;
  }
}

.btn-4,
.btn-4 *,
.btn-4 :after,
.btn-4 :before,
.btn-4:after,
.btn-4:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-4 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #292e41;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#292e41, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-4:disabled {
  cursor: default;
}
.btn-4:-moz-focusring {
  outline: auto;
}
.btn-4 svg {
  display: block;
  vertical-align: middle;
}
.btn-4 [hidden] {
  display: none;
}
.btn-4 {
  margin: 1vw;
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-4 span {
  mix-blend-mode: difference;
}
.btn-4:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 100%,
    0 100%
  );
  clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-4:hover:before {
  --progress: 100%;
}
.intro .intro-title {
  color: #fff;
  font-weight: 800;
  font-size: 100%;
  margin: 2vw;
}

@media (min-width: 1281px) {
  .typedText {
    margin: 1%;
    color: #674fdf;
    font-size: 5vw;
  }
  .intro-title {
    font-size: 5vw;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .typedText {
    margin: 1%;
    color: aqua;
    font-size: 5vw;
  }
  .intro-title {
    font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .typedText {
    margin: 1%;
    color: aqua;
    font-size: 5vw;
  }
  .intro-title {
    font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .typedText {
    margin: 1%;
    color: aqua;
    font-size: 10vw;
  }
  .intro-title {
    font-size: 10vw;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .typedText {
    margin: 1%;
    color: aqua;
    font-size: 10vw;
  }
  .intro-title {
    font-size: 10vw;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 280px) and (max-width: 480px) {
  .typedText {
    margin: 1%;
    color: aqua;
    font-size: 10vw;
  }
  .intro-title {
    font-size: 10vw;
  }
}

/* ---------------- Home Service Seeker -------------- */
.parent {
  display: grid;
  grid-row: auto;
  gap: 1rem;
}

@media (min-width: 1281px) {
  .parent {
    grid-template-columns: repeat(4, 1fr);
  }
  .classOne {
    background-color: #414677;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classTwo {
    background-color: #3f696e;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classThree {
    background-color: #455b97;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFour {
    background-color: #8f6ba7;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFive {
    background-color: #21405e;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
  }
  .classOne {
    background-color: #211d35;
    height: 10rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classTwo {
    background-color: #3d2a99;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classThree {
    background-color: #44992a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFour {
    background-color: #994d2a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFive {
    background-color: #8d1657;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
  .classOne {
    background-color: #211d35;
    height: 8rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classTwo {
    background-color: #3d2a99;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classThree {
    background-color: #44992a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFour {
    background-color: #994d2a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFive {
    background-color: #8d1657;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .parent {
    grid-template-columns: repeat(1, 4fr);
  }
  .classOne {
    background-color: #211d35;
    height: 8rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classTwo {
    background-color: #3d2a99;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classThree {
    background-color: #44992a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFour {
    background-color: #994d2a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFive {
    background-color: #8d1657;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .parent {
    grid-template-columns: repeat(1, 4fr);
  }
  .classOne {
    background-color: #211d35;
    height: 8rem;
    width: 15rem;
    text-align: center;
    padding-top: 4%;
  }
  .classTwo {
    background-color: #3d2a99;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classThree {
    background-color: #44992a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFour {
    background-color: #994d2a;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
  .classFive {
    background-color: #8d1657;
    height: 13rem;
    width: 20rem;
    text-align: center;
    padding-top: 4%;
  }
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4vw;
}

/* ------------------- Service Provider Login ----------------*/

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  /* background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg)
    no-repeat center; */
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 4%;
}
.login-html {
  width: 100%;
  height: 110%;
  position: absolute;
  padding: 50px 70px 50px 70px;
  background: #211d35;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #674fdf;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
  font-size: larger;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: rgb(218, 218, 218);
  font-size: 15px;
}
.login-form .group .button {
  text-align: center;
  background: #674fdf;
  width: 50%;
  cursor: pointer;
}
.button:hover {
  background-color: #5941cf !important;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #674fdf;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}
#girdButton {
  display: grid;
  float: left;
}
.parentCity {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}
#centreButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#selectOptions {
  background-color: #292e41;
  border-radius: 2vw;
}
